.container-err-handler {
    height: 100vh;
    background: linear-gradient(306.2deg, #FF702E 25.42%, #F89C35 89.37%);
    top: 50%;
    left: 50%;
}

#info-page {
    text-align: center;
}

#title {
    color: #393736;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10vh;
}

#image-logo {
    margin: 0 auto;
    width: 500px;
    height: 500px;
}