.container-regbencana {
    background-image: url("../../assets/image/GOopacity30.png");
    height: 100vh;
    margin-left: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 249, 240);
    background-attachment: fixed;
    background-position-x: 70%;
    padding: 20px;
}

.header{
    background-color: #F89C35;;
    border-radius: 10px;
    font-size: 25px;
    padding: 5px 15px;
    font-family: 'Poppins';
}