#dropdown-basic-button {
  text-align: left;
  width: 100%;
}

.keterangan {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.keterangan textarea {
  height: 60px;
  resize: vertical; 
}

#korban-key {
  color: #F89C35;
  width: 25%;
}
#korban-val {
  width: 100%;
}

#end {
  margin-top: 10%;
}