.container-default {
  height: auto;
  margin-left: 5vh;
  width: 200vh;
  background-color: rgb(255, 249, 240);
  text-align: center;
  padding: 20px;
}
.sidebar-secondary {
  width: 5vh;
  height: 100vh;
  position: fixed;
  background-color: orange;
}